.bg{
    width: 45%;
}

.header{
    display: flex;
    justify-content: center;
    width: fill;
}

.field{
    display: flex;
    flex-direction: column;
    font-size: 27px;
    width: 300px;
    border: none;
}
.input__box{
    font-family: 'Sarabun', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
body{
    background-size: cover;
    background-color: #220011;
    color: #88aabb;
    font-family: 'Sarabun', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.entry{
    width: 425px;
    margin: 20px;
    padding: 20px;
    background-color: #887766;
    color: #360947;
    border-radius: 15%;
}

h1{

}
