.bg{
    width: 45%;
}

.header{
    display: flex;
    justify-content: center;
}

.field{
    display: flex;
    flex-direction: column;
    width: 300px;
}
/* 
.form{
    display: flex;
    align-co: center;
    flex-direction: column;
} */
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}
body{
    background-color: #6d5277;
    color: blanchedalmond;
}

.entry{
    width: 425px;
    margin: 20px;
    padding: 20px;
    background-color: blanchedalmond;
    color: #360947;
    border-radius: 15%;
}

h1{

}
